.container
  .row
    .col-lg-12
      p.text-center
        img(src="assets/images/lighthouse.png")
      header.text-center
        h1 Lighthouse
        h4 Navigates to the right torrents
      nav.navbar
        form
          .row
            .col-sm-9
              .form-group
                input(
                class="form-control"
                placeholder="Torrent name"
                ng-model="main.query.phrase"
                tabindex="999"
                autofocus)
                i.glyphicon.glyphicon-search.form-control-feedback
            .col-sm-3
              .form-group
                select(
                class='form-control'
                tabindex='999'
                ng-model='main.query.category')
                  optgroup(label="Category")
                    option All
                    option(
                    ng-repeat="category in main.categories | orderBy:'toString()'"
                    ) {{ category }}
      table(class="table table-condesendet table-striped" ng-show="main.torrents.length > 0")
        thead
          tr.text-nowrap
            th Category
            th Name
            th(ng-repeat="(fieldKey, field) in main.sortableFields")
              span(ng-click='main.toggleSort(fieldKey)') {{ field.label }}
              span(ng-if='main.query.sortBy === fieldKey')
                include partials/_caret
        tbody(ng-class="main.isSearching ? 'overlay' : '' ")
          tr(ng-repeat="(index, torrent) in main.torrents")
            td
              span.label.label-primary {{ torrent.category }}
            td
              a(
                href="{{ torrent.magnetLink }}"
                title='Magnet link'
              )
                img(src='assets/images/magnet.gif')
              span.spacer
              a(
                href="{{ torrent.url }}"
                title="{{ torrent.name }}"
                tabindex="{{ index }}"
              ) {{ torrent.name  }}
            td
              span {{ torrent.size | size }}
            td
              span.label.label-success {{ torrent.seedCount }}
            td
              span.label.label-info {{ torrent.peerCount }}
            td
              time(datetime="{{ torrent.uploadedAt }}" title="{{ torrent.uploadedAt | date:'yyyy-MM-dd h:mm:ss' }}") {{ torrent.uploadedAt | date }}
